<section>
    <div class="frame">
        <h3>Student Management System</h3>
        <h5>Register</h5>
        <form action="" class="login">
            <div class="row">
                <div class="col">
                    <i class="bi bi-person-fill" style="color: #222b45;"></i>
                    <input ngModel name="Firstname" id="Firstname" type="text" class="form-control" placeholder="Firstname" aria-label="Firstname">
                </div>
                  
                <div class="col">
                    <i class="bi bi-person-fill" style="color: #222b45;"></i>
                    <input ngModel name="Lastname" id="Lastname" type="text" class="form-control" placeholder="Lastname" aria-label="Lastname">
                </div>
    
            </div>

            <div class="row">
                <div class="col">
                    <i class="bi bi-envelope-fill" style="color: #222b45;"></i>
                    <input ngModel name="Email" id="Email" type="text" class="form-control" placeholder="Email" aria-label="Email">
                </div>
                  
                <div class="col">
                    <i class="bi bi-telephone-fill" style="color: #222b45;"></i>
                    <input ngModel name="PhoneNumber" id="PhoneNumber" type="text" class="form-control" placeholder="PhoneNumber" aria-label="PhoneNumber">
                </div>
    
            </div>

            <input type="submit" value="Login" class="btn btn-primary">

        </form>

        <a routerLink="/login" style="font-size: 15px;color: #222b45;" >Do you have an account? Login here</a>
    </div>
</section>
