<section>
    <div class="frame">
        <h3>Student Management System</h3>
        <h5>Login</h5>
        <form action="" class="login">
            <div>
                <i class="bi bi-person-fill" style="color: #222b45;"></i>
                <input ngModel name="Email" id="Email" type="text" class="form-control" placeholder="Username" aria-label="Username">
            </div>
              
            <div>
                <i class="bi bi-lock-fill" style="color: #222b45;"></i>
                <input ngModel name="Email" id="Email" type="text" class="form-control" placeholder="Username" aria-label="Username">
            </div>

            <input type="submit" value="Login" class="btn btn-primary">

        </form>

        <div>
            <a routerLink="/register" style="font-size: 15px;color: #222b45;" >Do you have an account? Login here</a>
        </div>
    </div>
</section>
