<app-nav-bar></app-nav-bar>
<section class="profile">
    <div>
        <!-- <img src="/public/images.jpg" alt="profile-picture"> -->
         <div class="pic"></div>

        <p>Firstname: {{profile.firstName}}</p>
        <p>Lastname: {{profile.lastName}}</p>
        <p>ID number: {{profile.idNumber}} </p>
        <p>Date of birth: {{profile.dateOfBirth}} </p>
        <p>Student no.: {{profile.studentNo}} </p>
        <p>Gender: {{profile.gender}} </p>

        <a type="button" routerLink="edit" class="btn btn-outline-success" >Edit</a>
    </div>
</section>


