<app-dashboard></app-dashboard>

<section class="profile">
    <div>
        <!-- <img src="/public/images.jpg" alt="profile-picture"> -->
         <div class="pic"></div>

        <p>Firstname: {{profile.firstname}}</p>
        <p>Lastname: {{profile.lastname}}</p>
        <p>ID number: {{profile.idNumber}} </p>
        <p>Date of birth: {{profile.dateOfBirth}} </p>
        <p>Student no.: {{profile.studentNo}} </p>
        <p>Gender: {{profile.gender}} </p>

        <button class="btn btn-outline-success" >Edit</button>
    </div>
</section>

<section class="edit">
    
    <div class="edit-group">
        <h5>Edit your profile</h5>
        <form #formProfileUpdate="ngForm" (ngSubmit)="updateProfile()">

            <div class="row">
                <div class="col">
                    <label for="firstname"> Firstname</label>
                    <input  [(ngModel)]="profile.firstname" name="firstname" id="firstname" type="text"         class="form-control"   #firstname="ngModel" required >
                    
                    <div class="message" *ngIf="firstname.invalid && (firstname.touched || firstname.dirty) || submitted">
                        <div *ngIf="firstname.errors?.['required']">Firstname is required.</div>                        
                    </div>
                </div>
                    
                <div class="col">
                    <label for="Lastname">Lastname</label>
                    <input [(ngModel)]="profile.lastname" name="lastname" id="lastname" type="text" class="form-control" #lastname="ngModel" required>

                    <div class="message" *ngIf="lastname.invalid && (lastname.touched || lastname.dirty) || submitted">
                        <div *ngIf="lastname.errors?.['required']">Lastname is required.</div>                        
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <label>ID number</label>
                    <input  [(ngModel)]="profile.idNumber" name="idNumber" type="text" class="form-control" disabled >
                </div>
                    
                <div class="col">
                    <label>Date of birth</label>
                    <input [(ngModel)]="profile.dateOfBirth" name="dateOfBirth" id="dateOfBirth" type="text" class="form-control" disabled>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="firstname">Grade</label>
                    <input  [(ngModel)]="profile.grade" name="grade" type="text" class="form-control" disabled>
                </div>
                    
                <div class="col">
                    <label>Student no.</label>
                    <input [(ngModel)]="profile.studentNo" name="studentNo" type="text" class="form-control" disabled>
                </div>

                <div class="col">
                    <label>Gender</label>
                    <input [(ngModel)]="profile.gender" name="gender" type="text" class="form-control" disabled>
                </div>
            </div>

            <input type="submit" value="Save" class=" button btn btn-success">
        </form>

        
          
    </div>
    
</section>

<div id="succ-err-alert" class="bi alert alerts alert-dismissible fade show" role="alert">
    {{ alertMessage }}
</div>
